
  @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
  @import url(//fonts.googleapis.com/css?family=Source+Code+Pro&display=swap);
  @import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css);
  
:root {
  /*--text-color: black;*/
  --background-color: #ffcecb;
  --accent-color: #250030;
}
body {
  background-color: #ffddd5;
  margin: 0;
  font-family: "source code pro";
  padding-top: 90px;
}
 
a {
  text-decoration: none;
  color: var(--text-color);
}
 
li {
  list-style: none;
}

.navbar {
  height:70px;
  width:100%;
  position:fixed;
  z-index:999;
  top:0px;
  left:0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #cc2929;
  padding: 15px 12px 8px 12px;
  
  /* margin, padding 순서
  margin: [margin-top] [margin-right] [margin-bottom] [margin-left];
  margin: [margin-top] [margin-left = margin-right] [margin-bottom];
  margin: [margin-top=margin-bottom] [margin-left = margin-right];
  margin: [margin-top = margin-bottom = margin-left = margin-right];
  */
}

.navbar__logo {
  font-size: 30px;
  color: white;
  font-weight:600;
  margin-bottom:5px;
}

.navbar__logo i {
  color: #ffff00;
  vertical-align:middle;
}
 
.navbar__logo a:hover {
  color: white;
}

.navbar__menu {
  display: flex;
  padding-left: 0;
  color: white;
}
 
.navbar__menu li {
  padding: 8px 12px;
  color: white;
}
 
.navbar__menu li:hover {
  background-color: #ffddd5;
  border-radius: 6px;
  color: black;
}
 
.navbar__member {
  display: flex;
  padding-left: 0;
  color: white;
}
.navbar__member li {
  padding: 8px 12px;
}
.navbar__member li:hover {
  background-color: #ffabab;
  border-radius: 6px;
  color: black;
}
 
.navbar__icons {
  display: flex;
  color: #167bff;
  padding-left: 0;
}
.navbar__icons li {
  padding: 8px 12px;
}
 
.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: white;
}
.write-new {
        position: relative;
        width: 50%;
        float: right;
        margin-top: 50px;
        clear: both;     
    }     
.write-new a:hover {
  padding: 8px 24px;
  background-color: #ffabab;
  border-radius: 6px;
}


/*
@media screen and (max-width: 850px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }
 
  .navbar__logo {
    justify-content: flex-start;
  }
 
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
 
  .navbar__menu li {
    width: 100%;
    text-align: center;
  }
 
  .navbar__member {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
 
  .navbar__member li {
    width: 100%;
    text-align: center;
  }
 
  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
  }
 
  .navbar__toggleBtn {
    display: block;
  }
 
  .navbar__member.active,
  .navbar__menu.active,
  .navbar__icons.active,
  .navbar__articles.active {
    display: flex;
  }
  */
}
